*{
    padding: 0;
    margin: 0;
}
.navbar{
    height: 10%;
    width: 100%;
    background-color: rgb(20, 3, 55);
}
.left{
    padding: 2px;
}

.logo{
    height: 50px;
    border-radius: 50px;
    margin-left: 60px;
}
.right{
    display: flex;
    color: black;
    justify-content: space-around;
    text-decoration: none;
    font-size: 35px;
}
.right a{
    margin-top: -50px;
    margin-left: 150px;
    text-decoration: none;
    color: white;
}
H1{
    text-align: center;
    color: rgb(41, 226, 72);
}
.gallary{
    display: block;
    margin: 10px auto;
    height: 500px;
    width: 800px;
    border-radius: 50px;
    border: 2px solid black;

}
.container{
    display: flex;
    justify-content: center;
    
}
.btn{
    text-align: center;
    padding: 10px 15px;
    margin: 0px 100px;
    border-radius: 50px 90px;
    border: 1px solid black;
    font-size: 20px;
    background-color: skyblue;
    cursor: pointer;
}