*{
    padding: 0;
    margin: 0;
}
.navbar{
    height: 10%;
    width: 100%;
    background-color: rgb(20, 3, 55);
}
.left{
    padding: 2px;
}

.logo{
    height: 50px;
    border-radius: 50px;
    margin-left: 60px;
}
.right{
    display: flex;
    color: black;
    justify-content: space-around;
    text-decoration: none;
    font-size: 35px;
}
.right a{
    margin-top: -50px;
    margin-left: 150px;
    text-decoration: none;
    color: white;
}
.gallary{
    margin: 50px 240px;
    height: 400px;

}