*{
    padding: 0;
    margin: 0;
}
.navbar{
    height: 10%;
    width: 100%;
    background-color: red;
}
.left{
    padding: 2px;
}

.logo{
    height: 50px;
    border-radius: 50px;
    margin-left: 60px;
}